*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  box-sizing: inherit;
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: #f9f9f9;
  color: $color-primary;
}
