/* COLORS */
$color-primary: #151515;
$color-secondary: #6A983C;
$color-orange: #E5704B;
$color-light-blue: #37D0D6;
$color-secondary-light: rgba(106, 152, 60, 0.8);
$color-secondary-active: rgba(106, 152, 60, 0.6);

/* FONTS */
$main-font : "Poppins", "Arial", sans-serif;
