.form-search__wrapper {
  border-right: 1px solid #d1d1d1;
  margin-right: 24px;
}

.form-search__select {
  width: 130px;
  border: 0;
  appearance: none;
  flex-shrink: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: $color-primary;
  background-image: url("../../img/icon-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f9f9f9;
  margin-right: 24px;
  outline: none;
}

.form-search__input {
  width: 300px;
  border: 0;
  background-image: url("../../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 12px 16px;
  background-color: #f9f9f9;
  padding: 0;
  outline: none;

  &::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: #a9a9a9;
  }

}

@media only screen and (max-width: 920px) {
  .form-search__input {
    &::placeholder {
      font-size: 12px;
      line-height: 15px;
    }
  }
}