.modal {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal--open {
  display: block;
}

.modal-dialog {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.search-modal__form {
  display: flex;
  flex-direction: column;
}

.search-modal__input {
  padding: 8px 14px;
  border-radius: 16px;
  outline: none;
  border: 1px solid #474747;
  background-image: url("../../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

@media only screen and (max-width: 680px) {
  .modal-dialog {
    max-width: 60%;
    padding-top: 90px;
  }
}