.sitenav {
  background-color: #f9f9f9;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

}


.sitenav__item{
  position: relative;
}
.sitenav__item .sitenav__dropdown-list{
  position: absolute;
  display: none;
}

.sitenav__item:hover .sitenav__dropdown-list{
  display: block;
}
.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  transition:  color 0.3s ease, opacity 0.3s ease;

  &::after {
    content: '';
    display: block;
    margin-left: 2px;
    background-image: url("../../img/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 12px;
    height: 12px;
  }

  &:hover{
    color: $color-secondary-light;
  }

  &:active {
    color: $color-secondary-active;
  }

}

.sitenav__dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.sitenav__dropdown-item{
  margin-top: 5px;
}

.sitenav__dropdown__link {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #151515;
  transition: color 0.3s ease;

  &:hover{
    color: $color-secondary-light;
  }
}



