.sitenav {
  background-color: #f9f9f9;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.sitenav__item{
  position: relative;
}

.sitenav__item .sitenav__dropdown-list{
  position: absolute;
  display: none;
}

.sitenav__item:hover .sitenav__dropdown-list{
  display: block;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}


.sitenav__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  transition:  color 0.3s ease, opacity 0.3s ease;
  position: relative;

  &::after {
    content: '';
    display: block;
    margin-left: 4px;
    background-image: url("../../img/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 12px;
    height: 12px;
  }

  &:hover{
    color: $color-secondary-light;
  }

  &:active {
    color: $color-secondary-active;
  }

}

.sitenav__dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f9f9f9;
  width: 96px;
  z-index: 100;
  position: absolute;
}

.sitenav__dropdown-item{
  margin-top: 5px;

   &:focus-within {
    color: $color-secondary-light;
  }
}

.sitenav__dropdown__link {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #151515;
  transition: color 0.3s ease;

  &:hover{
    color: $color-secondary-light;
  }
}

@media only screen and (max-width: 1135px) {
  .sitenav__list {
    margin-top: -16px;
  }

  .sitenav__item {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 685px) {
  .sitenav {
    display: none;
    background-color: #fff;

    .sitenav__dropdown-list {
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #f9f9f9;
      width: 96px;
      z-index: 100;
      position: absolute;
      left: -100px;
      top: 0;
    }
  }

  .sitenav--open {
    display: block;
  }
}


