.site-header__sitenav-box{
  padding: 16px  45px;
  background-color: #f9f9f9;
}

@media only screen and (max-width: 685px) {
  .site-header__sitenav-box {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 0;
    width: 40%;
    height: auto;
    background-color: #fff;
    padding-top: 0;
  }
}
