.site-header__account {
  @include listunstyled;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__account--item:not(:last-child) {
  margin-right: 40px;
}

.site-header__account--link {
  display: none;
  color: #000;
  border: 0;
  background-color: transparent;

    &:hover {
      color: $color-secondary-light;
    }
}

.site-header__account--btn {
  display: inline-block;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  color: #000;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    color: $color-secondary-light;
  }
}

.site-header__account--burger {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  color: #000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}

.site-header__account--count {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: $color-orange;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

@media only screen and (max-width: 870px) {
  .site-header__account--link {
    display: block;
  }
}

@media only screen and (max-width: 685px) {
  .site-header__account--item:not(:last-child) {
    margin-right: 20px;
  }

  .site-header__account--burger {
    display: inline-block;
  }
}

@media only screen and (max-width: 540px) {
  .site-header__account--item:not(:last-child) {
    margin-right: 10px;
  }
}