.tags-item__link{
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-primary;
  text-decoration: none;
  padding: 4px 10px;
  background-color: #f5f5f5;
  border-radius: 12px;
}
